<article>
    <h2>
        Darth Vader
    </h2>
    <img src="/images/character-icon.png" alt="placeholder icon">
    <div>
        <p>
            Male
        </p>
        <p>
            Blue
        </p>
        <p>
            None
        </p>
        <p>
            25BBY
        </p>
        <p>
            100kg
        </p>
    </div>
</article>