<% for (var index=0; index < films.length; index++) { %>
    <a href="/films/<%= index + 1 %>">
        <article>
            <h1>
                <%= films[index].title %>
            </h1>
            <p>
                <%= films[index].opening_crawl %>
            </p>
        </article>
    </a>
    <% } %>