<div>
    <img src="../../static/assets/starwarslogowhite.png" alt="Star Wars Logo tm">
</div>
<nav>
    <ul>
        <li><a href="/films">HOME</a></li>
        <li><a href="/films/1">DETAIL</a></li>
    </ul>
</nav>