<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/images/icon.png">
<link rel="preload" href="/images/stars.webp" as="image">
<link rel="preload" href="/images/starwarslogo.png" as="image">
<link rel="preload" type="font/ttf" href="/fonts/SWCrawlTitle.ttf" as="font" crossorigin>
<link rel="preload" type="font/ttf" href="/fonts/SWCrawlBody.ttf" as="font" crossorigin>
<link rel="stylesheet" type="text/css" href="/minified/style.css">
<link rel="manifest" href="/manifest.json">
<script src="/main.js" defer></script>
<title>Straight Star Wars Fax</title>