<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div id="starWarsCharacters">
            <%- include('../partials/characterTile') %>
        </div>
        <div id="starWarsStarships">

        </div>
        <div id="starWarsPlanets">

        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>